@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-weight: 300; 
}

.logo {
  font-family: 'Uncial Antiqua', system-ui;
}

.hover-transition {
  transition: all 0.5s ease-in-out;
}

.centre {
  @apply flex justify-center items-center;
}

.centre-inline {
  @apply inline-flex justify-center items-center;
}

.just-between {
  @apply flex justify-between items-center;
}

.centre-items {
  @apply flex items-center;
}

.centre-justify {
  @apply flex justify-center;
}

.hamburger-btn {
  @apply relative centre-inline rounded-sm p-2 text-light bg-dark hover:bg-main-dark outline-none hover-transition;
}

.nav-link {
  @apply text-light hover:text-dark px-3 py-2 font-medium  hover-transition;
}

.login-btn {
  @apply centre-items text-light bg-dark hover:bg-main-dark font-medium rounded-sm px-3 py-2 uppercase outline-none hover-transition
}

.nav-control {
  @apply absolute inset-y-0 right-0 flex items-center pr-2 md:static md:inset-auto md:ml-6 md:pr-0;
}

.notification-btn {
  @apply relative rounded-full bg-dark p-1 text-light hover:bg-main-dark outline-none hover-transition;
}

.notification-text {
  @apply absolute top-0 right-0 centre-inline px-2 py-1 text-xs font-bold leading-none text-main transform translate-x-1/2 -translate-y-1/2 bg-support rounded-full;
}

.user-menu-btn {
  @apply relative flex rounded-full text-light bg-dark text-sm p-1 mb-0.5 hover:bg-main-dark outline-none hover-transition;
}

.user-menu {
  @apply absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-light py-1 shadow-lg ring-1 ring-dark ring-opacity-5; 
}

.user-menu-link {
  @apply block px-4 py-2 text-sm font-medium text-grey-1 hover:text-main hover-transition;
}

.hero-btn {
  @apply md:ml-4 mt-4 md:mt-0 w-full md:w-auto px-6 py-3 rounded-sm bg-main-dark text-light hover:bg-main outline-none uppercase font-medium hover-transition
}

.hero-input {
  @apply w-full px-4 py-3 rounded-sm bg-light text-grey-1 border border-support focus:border-main outline-none hover-transition
}
